# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Django stuff:
*.sqlite3
db.sqlite3
*.log
/staticfiles/
media/
*.pot
*.pyc

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store

# Windows
Thumbs.db